<button
  class="px-[30px] py-[15px] rounded-[8px] bg-transparent border-solid border-[1px] border-[#4639FA] text-[14px] md:text-[16px] 2xl:text-[32px] font-medium hover:bg-[#4639FA] duration-75 ease-in-out"
>
  <%= text %>
</button>
