<div
  class="px-[40px] md:px-[80px] lg:px-[120px] bg-[#0C1033] py-[40px] flex flex-col justify-center items-center"
>
  <div class="w-[75%] flex flex-col justify-center pb-[100px]">
    <h2
      class="text-[24px] md:text-[30px] lg:text-[40px] 2xl:text-[48px] text-center"
    >
      Dapatkan Lebih Banyak Informasi
    </h2>
    <p
      class="text-center text-[12px] md:text-[14px] lg:text-[16px] 2xl:text-[20px] my-[40px]"
    >
      Bergabunglah dengan SatriaNFT untuk tetap terhubung dengan rilis fitur
      terbaru, peluncuran NFT, serta tips dan trik menarik. Dapatkan akses
      eksklusif ke konten dan informasi terbaru, serta menjadi bagian dari
      komunitas yang berkembang. Jangan lewatkan kesempatan untuk selalu update
      dengan inovasi dan peluang di dunia NFT!
    </p>
    <div
      class="flex justify-center items-center relative text-[12px] md:text-[16px]"
    >
      <input
        type="text"
        name=""
        id=""
        placeholder="Masukkan Alamat Surel Anda..."
        class="rounded-[40px] bg-[white] border-none w-[85%] px-[20px] py-[15px]"
      />
      <button
        class="bg-[#4639FA] px-[15px] py-[13px] rounded-[40px] md:absolute md:right-[7.8%]"
      >
        Berlangganan
      </button>
    </div>
  </div>
  <div
    class="flex justify-between pt-[100px] border-t-[solid] border-t-[1px] border-t-[#879CB5] w-full"
  >
    <div class="w-fit">
      <img
        src="assets/Logo.png"
        alt=""
        class="w-[140px] md:w-[160px] lg:w-[180px] 2xl:w-[200px] mb-[15px]"
      />
      <p class="text-[12px] md:text-[14px] lg:text-[16px] 2xl:text-[20px]">
        SatriaNFT adalah
        <span class="font-semibold">pasar terdepan di Ethereum</span> <br />
        yang didedikasikan untuk karya NFT buatan anak<br />
        bangsa. Platform ini menjadi rumah bagi generasi<br />
        baru pencipta digital untuk mengekspresikan <br />imajinasi mereka.
      </p>
    </div>
    <div>
      <h3
        class="text-[16px] md:text-[20px] lg:text-[24px] 2xl:text-[32px] font-medium mb-[15px]"
      >
        Sumber Daya
      </h3>
      <ul
        class="flex flex-col gap-[10px] text-[#879CB5] text-[12px] md:text-[16px] 2xl:text-[20px]"
      >
        <li>
          <a href=""> Jelajahi</a>
        </li>
        <li>
          <a href="">Pasar NFTs</a>
        </li>
        <li>
          <a href="">Cara Kerja</a>
        </li>
        <li>
          <a href="">Tentang Kami</a>
        </li>
      </ul>
    </div>

    <div>
      <h3
        class="text-[16px] md:text-[20px] lg:text-[24px] 2xl:text-[32px] font-medium mb-[15px]"
      >
        Cara Kerja
      </h3>
      <ul
        class="flex flex-col gap-[10px] text-[#879CB5] text-[12px] md:text-[16px] 2xl:text-[20px]"
      >
        <li>
          <a href="">Hubungkan Wallet</a>
        </li>
        <li>
          <a href="">Jelajahi NFTs</a>
        </li>
        <li>
          <a href="">Pembayaran</a>
        </li>
        <li>
          <a href="">Terima NFTs Anda</a>
        </li>
      </ul>
    </div>
    <div>
      <h3
        class="text-[16px] md:text-[20px] lg:text-[24px] 2xl:text-[32px] font-medium mb-[15px]"
      >
        Lokasi
      </h3>
      <ul
        class="flex flex-col gap-[10px] text-[#879CB5] text-[12px] md:text-[16px] 2xl:text-[20px]"
      >
        <li>
          <a href=""> Jelajahi</a>
        </li>
        <li>
          <a href=""
            >Letjen S. Parman No.1,<br />
            Jakarta Barat 11440</a
          >
        </li>
        <li class="flex gap-[30px] mt-[10px]">
          <a href=""
            ><img src="assets/Discord.png" alt="" class="h-[30px]"
          /></a>
          <a href=""
            ><img src="assets/Twitter.png" alt="" class="h-[30px]"
          /></a>
          <a href=""
            ><img src="assets/Instagram.png" alt="" class="h-[30px]"
          /></a>
          <a href=""
            ><img src="assets/Youtube.png" alt="" class="h-[30px]"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <p
    class="text-center mt-[100px] text-[12px] md:text-[14px] lg:text-[16px] 2xl:text-[20px] font-medium"
  >
    © 2024 SatriaNFT. hak cipta dilindungi Undang-undang
  </p>
</div>
