<button
  class="langkah-button neon-btn3 max-w-[270px] w-[260px] h-[232px] px-[10px] py-[10px] flex flex-col justify-center items-center bg-[#2B2B3E] relative"
>
  <img src="<%= imgUrl %>" alt="" class="h-[92px]" />
  <h2 class="text-[#15BFFD] text-[24px] font-bold text-center mt-[8px]""><%= langkah %></h2>
  <p class="text-white text-center font-medium text-[20px] mt-[8px]">
    <%= title %>
  </p>
</button>
