<nav
  class="px-[120px] py-[30px] flex justify-between items-center border-b-[#879CB5] border-b-[1px]"
>
  <img src="assets/Logo.png" alt="" class="w-[160px]" />
  <ul class="md:flex justify-between w-[490px]">
    <li class="current-page"><a href="">Jelajahi</a></li>
    <li><a href="">Pasar NFTs</a></li>
    <li><a href="">Cara Kerja</a></li>
    <li><a href="">Tentang Kami</a></li>
  </ul>
  <button
    class="neon-btn py-[15px] text-[16px] font-semibold text-[#879cb5] hover:text-[white]"
  >
    Hubungkan Wallet
  </button>
</nav>
