<button
  class="neon-btn4 relative w-[207px] h-[207px] px-[10px] py-[10px] flex flex-col justify-center items-center bg-[#2B2B3E]"
>
  <img src="<%= imgUrl %>" alt="" class="w-[80px]" />
  <p class="text-white text-center font-semibold text-[24px] mt-[8px]">
    <%= title %>
  </p>
</button>
