<div class="relative mt-[60px]">
  <div class="slide">
    <div class="cards-container flex">
      <% cardsInfo.forEach(cardInfo => { %> <%- include('./components/card.ejs',
      { imageUrl: cardInfo.imageUrl, time:cardInfo.time, title: cardInfo.title,
      kreator: cardInfo.kreator, price: cardInfo.price }) %> <% }); %>
    </div>
  </div>
  <div
    class="absolute pl-[120px] pr-[20px] left-[0px] top-[-40px] w-[661px] z-[100] text-white bg-transparent backdrop-blur-[3px]"
  >
    <h1 class="text-[64px] font-bold">
      Jelajahi Era Baru <br />NFTs yang Abadi <br />
      dari Tanah Air
    </h1>
    <p class="mt-[20px]">
      SatriaNFT, pasar NFTs karya anak bangsa terdepan di Ethereum.Rumah bagi
      generasi baru pencipta digital untuk mengekspresikan imajinasi.Temukan
      koleksi NFT yang tak tertandingi, eksklusif di SatriaNFT.SatriaNFT, pasar
      NFTs karya anak bangsa terdepan di Ethereum.Rumah bagi generasi baru
      pencipta digital untuk mengekspresikan imajinasi.Temukan koleksi NFT yang
      tak tertandingi, eksklusif di SatriaNFT.
    </p>
    <div class="mt-[20px]">
      <button class="font-semibold w-[165px] px-[15px] py-[12px] bg-[#00229C]">
        Mulai Sekarang
      </button>
      <button
        class="font-semibold w-[150px] ml-[1rem] px-[30px] py-[12px] bg-[#313860]"
      >
        Buat NFTs
      </button>
    </div>
    <div class="flex justify-between w-[429px] mt-[20px]">
      <div class="">
        <h3 class="text-[32px] font-semibold text-center">827K+</h3>
        <p class="text-white mt-[10px] text-center">Koleksi</p>
      </div>
      <div class="">
        <h3 class="text-[32px] font-semibold text-center">400K+</h3>
        <p class="text-white mt-[10px] text-center">Kreator</p>
      </div>
      <div class="">
        <h3 class="text-[32px] font-semibold text-center">20K+</h3>
        <p class="text-white mt-[10px] text-center">Komunitas</p>
      </div>
    </div>
  </div>
</div>

<script src="/js/home.js"></script>
