<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('./components/head') %>

  <body id="body">
    <!-- navbar -->
    <%- include('./components/navbar') %>
    <!-- body -->
    <%- body %>

    <script src="js/navbar.js"></script>
    <script src="js/home.js"></script>
    <script src="js/card.js"></script>
  </body>
</html>
