/* general styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: ClashDisplay;
  src: url("../assets/fonts/ClashDisplay.ttf");
}
body {
  background-color: #0c1033;
  color: white;
  /* overflow-x: hidden; */
}

h1,
h2 {
  font-family: ClashDisplay, "Poppins";
}
p,
a,
h3,
button {
  font-family: "Poppins", sans-serif;
}
li {
  cursor: pointer;
  font-weight: 600;
}

li:hover {
  color: white;
}

/* navbar styles */
.current-page {
  position: relative;
  color: #fff;
  padding-bottom: 6px;
}

.current-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background-color: #1a4dff;
}

/* Automatic slides styles */
.card {
  border: 1px solid transparent;
  background: linear-gradient(to right, #272d37, #272d37) padding-box,
    linear-gradient(to right, #2b19ff, #ee2bff) border-box;
}

.slide {
  z-index: 1;
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 80%, white 85%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 80%,
    white 85%,
    transparent
  );
}

.cards-container {
  width: fit-content;
  flex-wrap: nowrap;
  gap: 40px;
  animation: scroll 40s linear infinite;
}
/* .cards-container:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
} */
/* .cards-container .card {
  animation: scroll 4s infinite;
  transition: ease-in-out;
} */

@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}

/* carousel styles */
#wrapper {
}
.carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel-container {
  overflow-x: hidden;
}
.carousel::-webkit-scrollbar {
  /* hide scrollbar */
  height: 0;
  display: none;
}
.carousel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #0c1033);
  backdrop-filter: blur(2px);
  z-index: 50;
}
.carousel::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 15%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #0c1033);
  backdrop-filter: blur(2px);
  z-index: 50;
}
/* neon buttons */
.neon-btn {
  position: relative;
}

.neon-btn::before {
  transition: ease-in-out 0.3s;
  opacity: 0.2;
  content: "";
  position: absolute;
  background-image: url("../assets/btn-border-up.png");
  left: -2.5%;
  top: -15.5%;
  right: 5%;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.neon-btn::after {
  transition: ease-in-out 0.3s;
  opacity: 0.2;
  content: "";
  position: absolute;
  background-image: url("../assets/btn-border-down.png");
  bottom: -15.5%;
  right: 0%;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 999;
}

.neon-btn:hover::before,
.neon-btn:hover::after {
  opacity: 1;
}

.neon-btn2 {
  position: relative;
}

.neon-btn2::before {
  content: "";
  position: absolute;
  background-image: url("../assets/btn-border-up.png");
  left: -3%;
  top: -10%;
  right: 0;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.neon-btn2::after {
  content: "";
  position: absolute;
  background-image: url("../assets/btn-border-down.png");
  bottom: -7%;
  right: -3%;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.neon-btn3::before {
  opacity: 0;
  transition: ease-in-out 0.25s;
  content: "";
  position: absolute;
  background-image: url("../assets/langkah/border-top.png");
  left: -2.5%;
  top: -2.5%;
  right: 0;
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
}
.neon-btn3::after {
  opacity: 0;
  transition: ease-in-out 0.25s;
  content: "";
  position: absolute;
  background-image: url("../assets/langkah/border-bottom.png");
  /* bottom: -122px;
  left: 122px; */
  bottom: -52%;
  left: 52%;
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.neon-btn3:hover::after,
.neon-btn3:hover::before {
  opacity: 1;
}

.neon-btn4::before {
  opacity: 0;
  transition: ease-in-out 0.25s;
  content: "";
  position: absolute;
  background-image: url("../assets/langkah/border-top.png");
  left: -2.5%;
  top: -2.5%;
  right: 0;
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
}
.neon-btn4::after {
  opacity: 0;
  transition: ease-in-out 0.25s;
  content: "";
  position: absolute;
  background-image: url("../assets/langkah/border-bottom.png");
  bottom: -52%;
  left: 52%;
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.neon-btn4:hover::after,
.neon-btn4:hover::before {
  opacity: 1;
}

/* gradient texts */
.gradient-text {
  background: linear-gradient(90deg, #69eacb 0%, #eaccf8 20%, #194cff 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text2 {
  background: linear-gradient(
    90deg,
    #69eacb 0%,
    #a9dbe1 25%,
    #eaccf8 50%,
    #95b3ef 68%,
    #419be5 85%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text3 {
  background: linear-gradient(
    90deg,
    #69eacb 0%,
    #a9dbe1 25%,
    #eaccf8 50%,
    #95b3ef 68%,
    #419be5 85%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* onscroll animation */

.langkah-button,
.wallet-button {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0);
}

.wallet-button:nth-child(2) {
  transition-delay: 200ms;
}
.wallet-button:nth-child(3) {
  transition-delay: 400ms;
}
.wallet-button:nth-child(4) {
  transition-delay: 600ms;
}
.wallet-button:nth-child(5) {
  transition-delay: 800ms;
}
/* .langkah-button,
.wallet-button {
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
}
@keyframes fade-in {
  from {
    scale: 0.9;
    opacity: 0.8;
  }
  to {
    scale: 1;
    opacity: 1;
  }
} */

/* navbar responsive */
@media (max-width: 1024px) {
  .hide {
    transform: translateX(100%);
  }
  #side-bar {
    background: hsl(0 0% 0% / 1);
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding: min(30vh, 10rem) 4rem;
    transition: 350ms ease-in-out;
  }
  @supports (backdrop-filter: blur(0px)) {
    /* jika browser support backdrop filter maka gunakan style ini */
    #side-bar {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(20px);
    }
  }
}

@media (max-width: 600px) {
  .langkah-button,
  .wallet-button {
    width: 160px;
  }

  .langkah-button img {
    height: 64px;
  }

  .wallet-button img {
    width: 64px;
  }

  .langkah-button h2,
  .wallet-button h2 {
    font-size: 20px;
    margin-top: 4px;
  }
  .langkah-button p,
  .wallet-button p {
    font-size: 12px;
    margin-top: 4px;
  }
}

/* @media (min-width: 1600px) {
  #langkah-button-container {
    justify-content: center;
  }

  .langkah-button {
    width: 270px;
  }
} */

/* mobile 0px - 768px */

/* tablet 768px - 1024px */

/* desktop (>1024px) */
