body {
  background-color: #0c1033;
  color: white;
}

li {
  cursor: pointer;
  color: #879cb5;
  font-weight: 600;
}

li:hover {
  color: white;
}

.current-page {
  position: relative;
  color: #fff;
  padding-bottom: 6px;
}

.current-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background-color: #1a4dff;
}

.neon-btn {
  position: relative;
  color: #879cb5;
}

.neon-btn::before {
  content: "";
  position: absolute;
  background-image: url("../assets/btn-border-up.png");
  left: -30px;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.neon-btn::after {
  content: "";
  position: absolute;
  background-image: url("../assets/btn-border-down.png");
  bottom: -8px;
  left: 27px;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.card {
  border: 1px solid transparent;
  background: linear-gradient(to right, #272d37, #272d37) padding-box,
    linear-gradient(to right, #2b19ff, #ee2bff) border-box;
}

.slide {
  z-index: 1;
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 80%, white 85%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 80%,
    white 85%,
    transparent
  );
}

.cards-container {
  width: fit-content;
  flex-wrap: nowrap;
  gap: 21px;
  animation: scroll 30s linear infinite;
}
.cards-container:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
/* .cards-container .card {
  animation: scroll 4s infinite;
  transition: ease-in-out;
} */

@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}
