<div
  class="w-[100%] min-w-[380px] px-[20px] py-[20px] rounded-[8px] flex justify-between border-[1px] border-solid border-[#1286B0] items-center"
>
  <h2 class="text-[20px] md:text-[24px] 2xl:text-[36px]"></h2>
  <img src="" alt="" class="aspect-square w-[100px] mr-[10px]" />
  <div class="flex flex-col items-center justify-center">
    <h2 class="text-[20px] md:text-[24px] 2xl:text-[32px]"></h2>
    <div class="flex items-center">
      <span><img src="assets/cards/eth.png" alt="" class="w-[16px]" /></span>
      <span
        class="text-[20px] 2xl:text-[24px] text-[#15BFFD] font-extrabold mr-[5px]"
      >
      </span>
      <span class="text-[20px] 2xl:text-[24px] text-[#15BFFD] font-extrabold"
        >ETH</span
      >
    </div>
  </div>

  <div
    class="flex items-center justify-center border-[1px] border-solid border-[#196000] bg-[#10362B] w-[138px] px-[10px] py-[12px] rounded-[40px]"
  >
    <span class="mr-[5px]"
      ><img src="assets/cards/green.png" alt="" class="w-[23px]" />
    </span>
    <h3 class="text-[20px] 2xl:text-[24px] ml-[5px] text-[#24FF00]"></h3>
  </div>

  <div
    class="flex items-center justify-center border-[1px] border-solid border-[#94356A] bg-[#350E3B] w-[138px] px-[10px] py-[12px] rounded-[40px]"
  >
    <span class="mr-[5px]"
      ><img src="assets/cards/red.png" alt="" class="w-[23px]" />
    </span>
    <h3 class="text-[20px] 2xl:text-[24px] ml-[5px] text-[#EB1414]"></h3>
  </div>
</div>
