<!-- navbar -->
<nav
  id="navbar"
  class="sticky w-[100%] z-[99] top-0 px-[40px] md:px-[80px] lg:px-[120px] py-[30px] flex justify-between items-center border-b-[#879CB5] border-b-[1px] bg-[#0c1033]"
>
  <a href="index.html">
    <img
      src="assets/Logo.png"
      alt=""
      class="w-[120px] md:w-[140px] lg:w-[160px] 2xl:w-[200px]"
  /></a>

  <ul
    class="hidden justify-between w-[50%] max-w-[630px] static bg-transparent p-0 text-[16px] text-[#879cb5] lg:flex 2xl:text-[20px]"
  >
    <li class="current-page"><a href="/">Jelajahi</a></li>
    <li><a href="/market">Pasar NFTs</a></li>
    <li><a href="/carakerja">Cara Kerja</a></li>
    <li><a href="/carakerja">Jual NFTs</a></li>
    <li><a href="/about">Top Kreator</a></li>
  </ul>

  <div id="nav-btn">
    <a href="signup.html?nav2">
      <button
        id="hubungkan-wallet"
        class="neon-btn hidden text-[16px] font-semibold text-[#879cb5] hover:text-[white] py-[10px] px-[30px] lg:inline 2xl:w-[270px] 2xl:text-[20px] 2xl:py-[15px]"
      >
        Buat Akun SatriaNFT
      </button>
    </a>
  </div>

  <!-- mobile navigation elements -->
  <div class="lg:hidden">
    <button
      id="mobile-menu-open"
      class="absolute top-[30px] right-[40px] aspect-square w-[2rem] z-[90]"
    >
      <span class="sr-only">open menu</span>
      <img src="assets/burger-menu.png" alt="" class="w-[1.3rem]" />
    </button>
    <ul
      id="side-bar"
      class="hide fixed top-0 bottom-0 right-0 left-[30%] z-[100] text-[25px] text-[grey]"
    >
      <li class="current-page"><a href="/">Jelajahi</a></li>
      <li><a href="/market">Pasar NFTs</a></li>
      <li><a href="/carakerja">Cara Kerja</a></li>
      <li><a href="/about">Tentang Kami</a></li>
      <li>
        <button
          id="hubungkan-wallet-mobile"
          class="font-semibold text-start text-[#879cb5] hover:text-[white]"
        >
          Hubungkan Wallet
        </button>
      </li>
      <button
        id="mobile-menu-close"
        class="absolute top-[30px] right-[40px] aspect-square w-[2rem] z-[101]"
      >
        <span class="sr-only">close</span>
        <img src="assets/close.png" alt="close-icon" class="w-[1.7rem]" />
      </button>
    </ul>
  </div>
</nav>

<!-- popups -->
<div
  id="popup-1"
  class="w-[350px] md:w-[450px] rounded-[15px] bg-[#121640] fixed top-[25%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[100] py-[10px]"
>
  <div
    class="flex justify-between px-[20px] py-[10px] border-b-[solid] border-b-[grey] border-b-[1px]"
  >
    <h3 id="popup-title" class="text-[20px]">Hubungkan Wallet</h3>
    <button id="wallet-close">
      <img src="assets/popup-close.png" alt="" class="h-[30px]" />
    </button>
  </div>

  <div id="popup-inner-container" class="px-[10px] md:px-[30px] py-[20px]">
    <div class="flex justify-between mb-[25px]">
      <h3 class="text-[16px]">Pilih Wallet</h3>
      <button><img src="assets/up.png" alt="" class="w-[24px]" /></button>
    </div>
    <div
      class="justify-center flex md:justify-between flex-wrap gap-[10px] md:gap-[20px]"
    >
      <button
        class="wallet-buttons flex flex-col justify-center items-center gap-[10px]"
      >
        <img
          src="assets/wallet/1.png"
          alt=""
          class="h-fit max-h-[60px] md:h-[36px] wallet-image"
        />
        <p class="text-[16px] text-center wallet-text">Metamask</p>
      </button>
      <button
        class="wallet-buttons flex flex-col justify-center items-center gap-[10px]"
      >
        <img
          src="assets/wallet/2.png"
          alt=""
          class="h-fit max-h-[60px] md:h-[36px] wallet-image"
        />
        <p class="text-[16px] text-center wallet-text">Exodus</p>
      </button>
      <button
        class="wallet-buttons flex flex-col justify-center items-center gap-[10px]"
      >
        <img
          src="assets/wallet/3.png"
          alt=""
          class="h-fit max-h-[60px] md:h-[36px] wallet-image"
        />
        <p class="text-[16px] text-center wallet-text">Coinbase</p>
      </button>
      <button
        class="wallet-buttons flex flex-col justify-center items-center gap-[10px]"
      >
        <img
          src="assets/wallet/4.png"
          alt=""
          class="h-fit max-h-[60px] md:h-[36px] wallet-image"
        />
        <p class="text-[16px] text-center wallet-text">Argent</p>
      </button>
      <button
        class="wallet-buttons flex flex-col justify-center items-center gap-[10px]"
      >
        <img
          src="assets/wallet/5.png"
          alt=""
          class="h-fit max-h-[60px] md:h-[36px] wallet-image"
        />
        <p class="text-[16px] text-center wallet-text">ImToken</p>
      </button>
    </div>
    <div class="flex justify-between mt-[25px]">
      <h3 class="text-[16px]">Pindai Barcode</h3>
      <button>
        <img src="assets/down.png" alt="" class="w-[24px]" />
      </button>
    </div>
  </div>
</div>
