<div class="grid-cols-1 grid 2xl:grid-cols-2 gap-[20px]">
  <div
    class="flex justify-between rounded-[10px] border-[#4639FA] border-[1px] border-solid px-[20px] 2xl:px-[30px] py-[15px] 2xl:py-[25px] items-center"
  >
    <div class="flex gap-[15px]">
      <img src="assets/JualNFT/1.png" alt="" class="w-[100px]" />
      <div class="hidden sm:flex flex-col gap-[5px]">
        <h3 class="text-[20px] md:text-[24px] lg:text-[28px] 2xl:text-[32px]">
          Marchella
        </h3>
        <p class="text-[grey] text-[14px] 2xl:text-[20px]">
          Mengajukan penawaran 8 jam lalu
        </p>
      </div>
    </div>

    <div class="items-center">
      <p class="text-[16px] 2xl:text-[20px]">
        <span class="text-[24px] 2xl:text-[32px] font-semibold">Rp.52.211</span>
        <span class="text-[20px] 2xl:text-[24px]">,00</span>
      </p>
      <div class="flex items-center">
        <span
          ><img src="assets/cards/eth.png" alt="" class="w-[20px] mr-[5px]"
        /></span>
        <span class="text-[20px] text-[#15BFFD] font-extrabold">278.2</span>
        <span class="text-[20px] text-[#15BFFD] font-extrabold">ETH</span>
      </div>
    </div>
  </div>
</div>
